<div class="row">
    <hr>
    {{#each footer}}
    <div class="nav col-2">
        {{#each this}}
        <div>
            <a class="nav-link {{#if @last}} disabled{{/if}}" href="{{link}}"> {{text}}</a>
        </div>
        {{/each}}
    </div>
    {{/each}}
</div>